Assignment 7

Using the recent-grads.csv dataset, answer all the questions .

1 a.Display the data for those who have taken Psychology & Social Work as their major category .

  b. Show the share of women graduates above 0.5 who have taken Psychology & Social Work as their major category.

2.Create a Data Frame showing the number of graduates of  Chemical Engineering with Full time year round employment.

3.Output a subset consisting of graduates of Psychology & Social Work  and show their respective employment status,i.e. :
   those employed,part-time employment,full time employment & those without jobs.

4. Use loc & iloc methods to display the  rows 21-25 and the last three columns of this dataset.

In [1]:
#Statement of the problem
#1 a.Display the data for those who have taken Psychology & Social Work as their major category .

In [42]:
#import relevant libraries
import pandas as pd

In [43]:
df=pd.read_csv(r'C:\Users\pc\Downloads\recent-grads.csv')

In [44]:
df

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [45]:
df['Major_category'] == 'Psychology & Social Work'

0      False
1      False
2      False
3      False
4      False
       ...
168    False
169     True
170     True
171     True
172    False
Name: Major_category, Length: 173, dtype: bool

In [46]:
#slice the relevant column
Social_Work_Major_category = df[df['Major_category'] == 'Psychology & Social Work']	
Social_Work_Major_category

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
70,71,5205,INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY,3014.0,1075.0,1939.0,Psychology & Social Work,0.643331,24,2343,...,1095,1409,286,0.108787,40000,32000,53000,559,1224,272
91,92,5206,SOCIAL PSYCHOLOGY,1386.0,413.0,973.0,Psychology & Social Work,0.702020,8,1080,...,433,529,33,0.029650,36000,34000,45000,434,593,37
145,146,5200,PSYCHOLOGY,393735.0,86648.0,307087.0,Psychology & Social Work,0.779933,2584,307933,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
151,152,5404,SOCIAL WORK,53552.0,5137.0,48415.0,Psychology & Social Work,0.904075,374,45038,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
155,156,5299,MISCELLANEOUS PSYCHOLOGY,9628.0,1936.0,7692.0,Psychology & Social Work,0.798920,60,7653,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,8294,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308

In [ ]:
#b. Show the share of women graduates above 0.5 who have taken Psychology & Social Work as their major category.

In [47]:
(df['Major_category'] == 'Psychology & Social Work') & (df['ShareWomen'] >= 0.5)

0      False
1      False
2      False
3      False
4      False
       ...
168    False
169     True
170     True
171     True
172    False
Length: 173, dtype: bool

In [48]:
filter_criteria = (df['Major_category'] == 'Psychology & Social Work') & (df['ShareWomen'] >= 0.5)

In [47]:
df[filter_criteria]

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
70,71,5205,INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY,3014.0,1075.0,1939.0,Psychology & Social Work,0.643331,24,2343,...,1095,1409,286,0.108787,40000,32000,53000,559,1224,272
91,92,5206,SOCIAL PSYCHOLOGY,1386.0,413.0,973.0,Psychology & Social Work,0.702020,8,1080,...,433,529,33,0.029650,36000,34000,45000,434,593,37
145,146,5200,PSYCHOLOGY,393735.0,86648.0,307087.0,Psychology & Social Work,0.779933,2584,307933,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
151,152,5404,SOCIAL WORK,53552.0,5137.0,48415.0,Psychology & Social Work,0.904075,374,45038,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
155,156,5299,MISCELLANEOUS PSYCHOLOGY,9628.0,1936.0,7692.0,Psychology & Social Work,0.798920,60,7653,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,8294,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308

In [49]:
len(df[filter_criteria])

9

In [62]:
#2. Create a Data Frame showing the number of graduates of Chemical Engineering with Full time year round employment

In [50]:
df1=pd.read_csv(r'C:\Users\pc\Downloads\recent-grads.csv')
df1

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [87]:
filter_criteria = (df['Major'] == 'CHEMICAL ENGINEERING') & (df['Full_time_year_round'])

In [88]:
cols = ['Major','Full_time_year_round']
df1 = df.loc[filter_criteria,cols]
df1

                  Major  Full_time_year_round
4  CHEMICAL ENGINEERING                 16697

In [75]:
#3.Output a subset consisting of graduates of Psychology & Social Work and show their respective employment status,i.e. : those employed,part-time employment,full time employment & those without jobs.

In [89]:
filter_criteria = (df['Major_category'] == 'Psychology & Social Work')
df[filter_criteria]

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
70,71,5205,INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY,3014.0,1075.0,1939.0,Psychology & Social Work,0.643331,24,2343,...,1095,1409,286,0.108787,40000,32000,53000,559,1224,272
91,92,5206,SOCIAL PSYCHOLOGY,1386.0,413.0,973.0,Psychology & Social Work,0.702020,8,1080,...,433,529,33,0.029650,36000,34000,45000,434,593,37
145,146,5200,PSYCHOLOGY,393735.0,86648.0,307087.0,Psychology & Social Work,0.779933,2584,307933,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
151,152,5404,SOCIAL WORK,53552.0,5137.0,48415.0,Psychology & Social Work,0.904075,374,45038,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
155,156,5299,MISCELLANEOUS PSYCHOLOGY,9628.0,1936.0,7692.0,Psychology & Social Work,0.798920,60,7653,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,8294,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308

In [90]:
cols = ['Employed','Part_time','Full_time_year_round','Unemployed']

In [91]:
df2 = df.loc[filter_criteria,cols]
df2

     Employed  Part_time  Full_time_year_round  Unemployed
70       2343       1095                  1409         286
91       1080        433                   529          33
145    307933     115172                174438       28169
151     45038      13481                 27588        3329
155      7653       3221                  3838         419
156      8294       2405                  5061         326
169      2125        572                  1211         148
170      2101        648                  1293         368
171      3777        965                  2738         214

In [ ]:
#4. Use loc & iloc methods to display the rows 21-25 and the last three columns of this dataset.

In [92]:
df.loc[20:24]

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,102087,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
21,22,1104,FOOD SCIENCE,NaN,NaN,NaN,Agriculture & Natural Resources,NaN,36,3149,...,1121,1735,338,0.096931,53000,32000,70000,1183,1274,485
22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,11565.0,8181.0,3384.0,Engineering,0.292607,97,8587,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,2993.0,2020.0,973.0,Engineering,0.325092,22,2449,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
24,25,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,18713.0,13496.0,5217.0,Business,0.278790,278,16413,...,2420,13017,1015,0.058240,51000,38000,60000,6342,5741,708

In [99]:
df.iloc[21:26,18:21]

    College_jobs  Non_college_jobs  Low_wage_jobs
21          1183              1274            485
22          5126              2686            696
23          1911               305             70
24          6342              5741            708
25         28526              9356           2899